@font-face {
	font-family: "Open Sans";
	font-weight: 400;
	font-style: normal;
	src: local("Open Sans"), local("OpenSans-Regular"),
	url("../fonts/opensans.woff2") format("woff2"),
	url("../fonts/opensans.woff") format("woff");
}

@font-face {
	font-family: "Open Sans Light";
	font-weight: 400;
	font-style: normal;
	src: local("Open Sans Light"), local("OpenSans-Light"),
	url("../fonts/opensanslight.woff2") format("woff2"),
	url("../fonts/opensanslight.woff") format("woff");
}

@font-face {
	font-family: "Gilroy Light";
	font-weight: 400;
	font-style: normal;
	src: local("Gilroy Light"), local("Gilroy-Light"),
	url("../fonts/gilroylight.woff2") format("woff2"),
	url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
	font-family: "Gilroy Extra Bold";
	font-weight: 400;
	font-style: normal;
	src: local("Gilroy Extra Bold"), local("Gilroy-Extra-Bold"),
	url("../fonts/gilroyextrabold.woff2") format("woff2"),
	url("../fonts/gilroyextrabold.woff") format("woff");
}

*, *::before, *::after {
	box-sizing: inherit;
}

a {
	text-decoration: none;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans Light", "Arial", sans-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 400;
	color: #464646;
	background-color: #fff;
}

.container {
	width: 1180px;
	margin: 0 auto;
	padding: 0 10px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	-webkit-clip-path: inset(100%);
			clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.btn {
	position: relative;
	display: inline-block;
	padding: 8px 42px;
	vertical-align: top;
	text-align: center;
	text-transform: uppercase;
	font-family: "Gilroy Extra Bold", "Arial", sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #000;
	background-color: transparent;
	border: none;
	letter-spacing: 3.6px;
	cursor: pointer;

	&::before {
		content: "";
		position: absolute;
		top: 40%;
		left: 0;
		width: 100%;
		height: 20%;
		background-color: #f0c52e;
		transition: height .25s, top .25s;
		z-index: -1;
	}

	&:hover::before,
	&:focus::before {
		top: 0;
		height: 100%;
	}

	&:active {
		color: rgba(0, 0, 0, .3);
	}
}

.link {

	&:hover,
	&:focus {
		opacity: .6;
	}

	&:active {
		opacity: .3;
	}
}

.logo {
	text-transform: uppercase;
	text-align: center;
	font-family: "Gilroy Extra Bold", "Arial", sans-serif;
	font-size: 48px;
	line-height: 48px;
	transition: opacity .25s;

	&[href]:hover,
	&[href]:focus {
		opacity: .6;
	}

	&[href]:active {
		opacity: .3;
	}
}

.modal-close {
	position: absolute;
	top: 0;
	right: 0;
	width: 55px;
	height: 55px;
	background-color: rgba(240, 197, 46, .5);
	border: 0;
	border-radius: 50%;
	cursor: pointer;
	z-index: 5;
	transition: background-color .25s;


	&::before,
	&::after {
		content: "";
		position: absolute;
		top: 26px;
		left: 13px;
		width: 30px;
		height: 2px;
		background-color: #fff;
		transition: .5s;
	}

	&::before {
		-webkit-transform: rotate(45deg);
				transform: rotate(45deg);
	}

	&::after {
		-webkit-transform: rotate(-45deg);
				transform: rotate(-45deg);
	}

	&:hover,
	&:focus {
		background-color: rgba(240, 197, 46, 1);
	}

	&:active {
		background-color: rgba(240, 197, 46, .3);
	}

	&:hover::before,
	&:focus::before {
		-webkit-transform: rotate(405deg);
				transform: rotate(405deg);
	}

	&:hover::after,
	&:focus::after {
		-webkit-transform: rotate(315deg);
				transform: rotate(315deg);
	}
}
